<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="css/styleGuntingBatu.css">
    <!-- <script src="js/script.js" defer></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Web binar Challenge cp4</title>
</head>

  <body>

    <div id="header">
             <a href="/main"><img class="animated-gif" src="../assets/panah2.gif" class="button" data-toggle="tooltip" title="Back">Home</a>
                 <div class="logo"><img src="../assets/logo.png" alt="" srcset="">
                    </div>
                      <h1>ROCK PAPER SCISSORS <img class="animated-gif" src="../assets/chop.gif "></h1>
                       </div>
                         <div id="content">
                             <div id="player">
                             <div>
                              <h1>PLAYER</h1>
                                </div>
                                  <div><img src="../assets/batu.png" alt="" srcset="" class="batu"></div>
                                   <div><img src="../assets/kertas.png" alt="" srcset="" class="kertas"></div>
                                     <div><img src="../assets/gunting.png" alt="" srcset="" class="gunting"></div>
                                     </div>
                                    <div id="vs">VS</div>
                                  <div id="computer">
                               <div>
                             <h1>COMPUTER</h1>
                           </div>
                         <div><img src="../assets/kertas.png" alt="" srcset="" class="pilihanComputer"></div>
                          <!-- <div><img src="assets/img/kertas.png" alt="" srcset="" class="pilihanComputer"></div>
                            <div><img src="assets/img/gunting.png" alt="" srcset="" class="pilihanComputer"></div> -->
                    </div>
                  </div>
               <img class="anime-gif" src="../assets/chopper2.gif" class="back" data-toggle="tooltip" title="gif"></a>
            <div id="refresh"> 
          <i class="fa fa-refresh fa-spin text-center" style="font-size:80px"></i>
      </div>
    </div>

    <script>
            //pilihan computer
function getPilihanComputer() {
    const computer = Math.random();
    if (computer < 0.34) return `batu`;
    if (computer >= 0.34 && computer < 0.67) return `kertas`;
    return `gunting`;
  }
  
  //rule game
  function getHasil(computer, player) {
    if (player == computer) return `DRAW !`;
    if (player == `batu`) return computer == `gunting` ? `YOU WIN !!!` : `COMPUTER WIN !!`;
    if (player == `kertas`) return computer == `gunting` ? `COMPUTER WIN !!` : `YOU WIN !!!`;
    if (player == `gunting`) return computer == `batu` ? `COMPUTER WIN !!` : `YOU WIN !!!`;
  }
  
  //fungction random gambar computer
  function random() {
    const gambarcomputer = document.querySelector('.pilihanComputer');
    const gambar = ['batu', 'kertas', 'gunting'];
    let i = 0;
    const waktuAwal = new Date().getTime();
    setInterval(function () {
      if (new Date().getTime() - waktuAwal > 1000) {
        clearInterval;
        return;
      }
      gambarcomputer.setAttribute('src', 'assets/' + gambar[i++] + '.png');
      if (i == gambar.length) i = 0;
    }, 100);
  }
  
  //pilihan player dan computer
  const pilihanPlayer = document.querySelectorAll('#player img');
  pilihanPlayer.forEach(function (i) {
    i.addEventListener('click', function () {
      const pComputer = getPilihanComputer();
      const pPlayer = i.className;
      const hasil = getHasil(pComputer, pPlayer);
  
      //pemanggilan fungsi putar gambar
      random();
  
      //set time out
      setTimeout(function () {
        const gambarComputer = document.querySelector('.pilihanComputer');
        gambarComputer.setAttribute('src', 'assets/' + pComputer + '.png');
        const vs = document.querySelector('#vs');
        vs.innerHTML = `<p class="winner">${hasil}</p>`;
      }, 1000);
    });
  });
  
  //refresh
  const tombol = document.querySelector('#refresh');
  tombol.onclick = function () {
    const vs = document.querySelector('#vs');
    vs.innerHTML = `VS`;
  };
  
  let objectPlayer = document.querySelector('#player')
  objectPlayer.addEventListener('click', (e) => {
  objectPlayer.classList.add('active')
  })


    </script>
  </body>
</html>